In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import files
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
# dataset=pd.read_csv('Data.csv')
# uploaded = files.upload()
data=pd.read_csv('drive/MyDrive/Data Analysis (Kaggle)/train_titanic.csv')
test=pd.read_csv('drive/MyDrive/Data Analysis (Kaggle)/test_titanic.csv')
test_ids = test["PassengerId"]

FileNotFoundError: ignored

In [ ]:
data.head()
# test.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train_test_data=[data,test]
for dataset in train_test_data:
  dataset['title']=dataset['Name'].str.extract('([A-Za-z]+)\.',expand=False)

In [ ]:
data['title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Sir           1
Don           1
Ms            1
Mme           1
Lady          1
Countess      1
Jonkheer      1
Capt          1
Name: title, dtype: int64

In [ ]:
# This step will delete all the irrelevant data columns from the set. For e.g. ["Ticket","Cabin","Name","PassengerId"]
# It will also replace the numerical data with a median value

In [ ]:
# sns.heatmap(data.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
# def clean(data):
#   data=data.drop(["Ticket","Cabin","Name","PassengerId"],axis=1)
#   cols=["SibSp","Parch","Fare","Age"]
#   for i in cols:
#     data[i].fillna(data[i].median(),inplace=True)
#   data.Embarked.fillna("U",inplace=True)
#   return data

# data=clean(data)
# test=clean(test)

In [ ]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [ ]:
test=test.drop("Survived",axis=1)

KeyError: ignored

In [ ]:
data=data.drop(["Ticket","Cabin","Name","PassengerId"],axis=1)
test=test.drop(["Ticket","Cabin","Name","PassengerId"],axis=1)
data.Embarked.fillna("U",inplace=True)
test.Embarked.fillna("U",inplace=True)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [ ]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(data.iloc[:,[0,1,3,4,5,6]])
data.iloc[:,[0,1,3,4,5,6]]=imputer.transform(data.iloc[:,[0,1,3,4,5,6]])

imputertest=SimpleImputer(missing_values=np.nan,strategy='mean')
imputertest.fit(test.iloc[:,[0,2,3,4,5]])
test.iloc[:,[0,2,3,4,5]]=imputertest.transform(test.iloc[:,[0,2,3,4,5]])

ValueError: ignored

In [ ]:
(test['Age'].isnull()).sum()

0

In [ ]:
# This code will change the data from string into numbers. For e.g. male is 1 and female is 0 under Column "Sex".

# from sklearn import preprocessing
# le=preprocessing.LabelEncoder()

# cols=["Sex","Embarked"]

# for col in cols:
#   data[col]=le.fit_transform(data[col])
  
#   test[col]=le.transform(test[col])
#   print(le.classes_)

# # data.head(5)
# test.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[2])],remainder='passthrough')
data=ct.fit_transform(data)

NameError: ignored

In [ ]:
print(data)

[[0.0 1.0 0.0 ... 0.0 7.25 'S']
 [1.0 0.0 1.0 ... 0.0 71.2833 'C']
 [1.0 0.0 1.0 ... 0.0 7.925 'S']
 ...
 [1.0 0.0 0.0 ... 2.0 23.45 'S']
 [0.0 1.0 1.0 ... 0.0 30.0 'C']
 [0.0 1.0 0.0 ... 0.0 7.75 'Q']]

In [ ]:
### 3. Splitting the training set data into test and train 
 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
 
y=data["Survived"]
X=data.drop("Survived",axis=1)
 
X_train, X_val,y_train,y_val=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
clf=LogisticRegression(random_state=0,max_iter=1000).fit(X_train,y_train)

In [ ]:
 predictions=clf.predict(X_val)
 from sklearn.metrics import accuracy_score
 accuracy_score(y_val,predictions)

0.8100558659217877

In [ ]:
submission_preds=clf.predict(test)

In [ ]:
df = pd.DataFrame({"PassengerId": test_ids.values,
                   "Survived": submission_preds,
                  })

In [ ]:
df.to_csv("submission.csv", index=False)